
@import url("https://fonts.googleapis.com/css?family=Inter:400,300,500,600|Josefin+Sans:400");


@media screen and (min-width:280px) and (max-width:650px) {

    .container{
        background-image: url(./images/rectangle-56.svg);
        background-repeat: no-repeat;
        margin-right:0em;
    }

    .notifications{

        background-repeat: no-repeat;
    }

    .title{

        font-family: 'Josefin Sans';
        color: white;
        font-size: 24;
        font-weight: 400;
        letter-spacing: -0.41px;
        line-height: 22px;
        min-height: 31px;
        text-align: center;
        width: 145px;

    }

    .logo{
        height: 44px;
        margin-right: 8px;
    }

    .d-flex{
        margin-left: 30px;
        margin-right: 30px;
    }

    .search-button{
        margin-left: 10px;
    }

    .search-icons{
        margin-top:10px;
        margin-bottom:10px;

    }


    .justify-content-sm-center{
        justify-content: center;

    }

    .cont-menu-rec-nearme{
        align-content:center;
        justify-content:center;


    }

    .menu-rec-nearme{
        background-color:#2d325a;
        border-radius:10px;
        height:39px;
        width:290px;
        margin-bottom:30px;



    }

    .button-recommended{
        background-color:#181d3d;
        border-color: #181d3d;
        border-radius:5px;
        height:28px;
        width:122px;
        margin-top:5px;


    }

    .button.text{
        color:white;
    }

    .navigbar-bottom{
        background-image: url("./images/Ellipse-bottom-menu.svg");
        margin:0px;
    }


}

