
@import url("https://fonts.googleapis.com/css?family=Inter:400,300,500,600|Josefin+Sans:400");

.testo{

    font-family: 'Inter';
    color: black;
    font-weight: 500;
    letter-spacing: -0.41px;

}